.headDiv {
    background-color: antiquewhite;
    font-family: sans-serif;
    text-align: center;
}

.headDiv > h2 {
    text-align: left;
    color: darkmagenta;
}

.headDiv > h5 {
    font-family: serif;
    text-align: right;
    padding-right: 10%;
}