body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif; /*设置字体系列*/
    font-size: 14px;                                  /*设置字体的尺寸为14像素*/
    line-height: 15px;                                  /*设置行高位15像素*/
    background-image: url(../pic/background.jpg);       /*把图像设置为背景*/
    background-color: rgb(242, 241, 237);             /*设置背景颜色*/
    background-repeat: no-repeat;                       /*设置背景图像是否及如何重复*/
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;     /*设置字体风格为斜体*/
}

h1 {
    font-size: 2.4em;       /*设置字体的尺寸是13.5的2.4倍*/
    line-height: 1.8em;     /*设置行高为15像素的1.8倍*/
    color: #FF4500;       /*设置元素颜色，支持16进制/RGB/RGBA/HSL/HSLA/颜色名*/
}

h2 {
    font-size: 2.2em;
    line-height: 1.6em;
    color: #FF6347;
}

h3 {
    font-size: 2.0em;
    line-height: 1.4em;
    color: #FF7F50;
}

h4 {
    font-size: 1.8em;
    line-height: 1.2em;
    color: #FF8C00;
}

h5 {
    font-size: 1.6em;
    line-height: 1em;
    color: #FFA07A;
}

h6 {
    font-size: 1.4em;
    line-height: 0.8em;
    color: #FFE4B5;
}

p#paragraph {
    text-indent: 2em;       /*缩进元素中文本的首行*/
}

p.first {
    text-align: center;             /*居中对齐元素中的文本*/
    word-spacing: 0.5em;            /*设置字间距*/
    letter-spacing: 0.5em;          /*设置字符间距*/
    text-transform: uppercase;      /*控制元素中的字母，转换为大写*/
    text-decoration: line-through;  /*向文本添加修饰，删除线*/
    font-weight: 900;               /*设置字体的粗细，100-900*/
}

p.breaker {
    text-decoration: overline;      /*向文本添加修饰，上划线*/
    font-variant: small-caps;       /*以小型大写字体显示文本*/
}

img.huawei {
    opacity: 0.5;                   /*以0.5透明度显示图片*/
}

img.huawei:hover {
    opacity: 1.0;                   /*鼠标悬停时，以0.5透明度显示图片*/
}

img.huawei:active {
    opacity: 0.5;                   /*鼠标点击时，以0.5透明度显示图片*/
}

a.huawei:link {
    text-decoration: none;          /*无装饰超链接*/
    color: purple;
}

a.huawei:visited {
    text-decoration: none;
    color: mediumpurple;          /*以mediumpurple显示访问过的超链接*/
}

a.huawei:hover {
    text-decoration: underline;     /*鼠标悬停时，显示超链接下划线*/
    color: rebeccapurple;
}

a.huawei:active {
    text-decoration: underline;
    color: yellowgreen;           /*鼠标点击时，改变颜色*/
}
